<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body>
	<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
		<!-- Brand Logo -->
		<a href="/" class="brand-link">
			<img th:src="@{assets/images/pcma-logo.png}" alt="pcma-logo.png" class="brand-image elevation-2">
			<span class="brand-text font-weight-light">Polícia Civil</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user (Removido) -->

			<!-- SidebarSearch Form (Removido) -->

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
					data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
					<li class="nav-item menu-open">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-link"></i>
							<p>
								Serviços
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">

							<li class="nav-item">
								<a href="https://www.policiacivil.ma.gov.br/" class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Polívia Civil</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="https://delegaciaonline.policiacivil.ma.gov.br/" class="nav-link"
									target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Delegacia Online</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="https://www.policiacivil.ma.gov.br/delegacias/delegacias-na-capital-2019/"
									class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Delegacias na Capital</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="../../index.html" class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Delegacias no Interior</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="https://www.policiacivil.ma.gov.br/delegacia-geral-ramais/" class="nav-link"
									target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Delegacia Geral - RAMAIS</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="https://www.ssp.ma.gov.br/estatisticas/estatisticas-da-grande-sao-luis/"
									class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Estatísticas de São Luís</p>
								</a>
							</li>

							<li class="nav-item">
								<hr style="border-color: rgb(189, 189, 189);">
							</li>

							<li class="nav-item">
								<a href="http://www.cbm.ma.gov.br/" class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Corpo de Bombeiros</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="https://www.ma.gov.br/" class="nav-link" target="_blank">
									<i class="far fa-circle nav-icon"></i>
									<p>Governo do Maranhão</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>
</body>

</html>