<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>

<body class="hold-transition sidebar-mini">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper pb-3" layout:fragment="corpo">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <!-- <div class="col-sm-6 d-flex align-items-center">
                        <img th:src="@{/assets/images/pcma-logo.png}" alt="pcma-logo.png" class="mr-2" width="50px">
                        <h1>Pesquisa de Satisfação | Polícia Civil</h1>
                    </div>
                    <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Project Add</li>
                            </ol>
                        </div> -->
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="jumbotron">
                <div class="d-flex align-items-center">
                    <img th:src="@{/assets/images/pcma-logo.png}" alt="pcma-logo.png" class="mr-2" width="50px">
                    <div class="display-4">Resposta enviada!</div>
                </div>
                <p class="lead mt-2">
                    Obrigado por avaliar o serviço da Polícia Civil!
                </p>
                <hr class="my-4">
                <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
                <a class="btn btn-primary btn-lg" href="https://www.policiacivil.ma.gov.br/" role="button">Voltar</a>
              </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div layout:fragment="scripts">
        

    </div>

</body>

</html>