<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">

<head>
	<meta charset="utf-8">

</head>

<body class="hold-transition sidebar-mini">


	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="corpo">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6 d-flex align-items-center">
						<img th:src="@{assets/images/pcma-logo.png}" alt="pcma-logo.png" class="mr-2" width="50px">
						<h1>Respostas da Pesquisa de Satisfação | Polícia Civil</h1>
					</div>
					<!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Project Add</li>
                            </ol>
                        </div> -->
				</div>
			</div>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover table-sm" id="example1">
						<thead class="thead-dark text-center">
							<tr>
								<th>Nome</th>
								<th>Idade</th>
								<th>Sexo</th>
								<th>CPF</th>
								<th>Telefone</th>
								<th>Email</th>
								<th>PCD</th>
								<th>LGBTQIA+</th>
								<th>Local</th>
								<th>Atendente</th>
								<th>Cargo</th>
								<th>Serviço</th>
								<th>Período</th>
								<th>Avaliação</th>
								<th>Observações</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:each="atendimento : ${atendimentos}">
								<td th:text="${atendimento.pessoa.nome}">-</td>
								<td th:text="${atendimento.pessoa.idade}">-</td>
								<td th:text="${atendimento.pessoa.sexo}">-</td>
								<td th:text="${atendimento.pessoa.cpf}">-</td>
								<td th:text="${atendimento.pessoa.telefone}">-</td>
								<td th:text="${atendimento.pessoa.email}">-</td>
								<td th:text="${atendimento.pessoa.deficiencia ? 'Sim' : 'Não'}">-</td>
								<td th:text="${atendimento.pessoa.lgbt ? 'Sim' : 'Não'}">-</td>
								<td th:text="${atendimento.local.nome}">-</td>
								<td th:text="${atendimento.nome_atendente}">-</td>
								<td th:text="${atendimento.cargo.nome}">-</td>
								<td th:text="${atendimento.servico.nome}">-</td>
								<td th:text="${atendimento.periodo}">-</td>
								<td th:text="${atendimento.avaliacao + '/5'}">-</td>
								<td th:text="${atendimento.observacao == '' ? '-' : atendimento.observacao}">-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->




	<!-- ./wrapper -->

	<!-- jQuery -->
	<script th:src="@{assets/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{assets/js/adminlte.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<!-- <script src="assets/js/demo.js"></script> -->
	<script th:src="@{assets/font-awesome/js/all.min.js}"></script>
	<!-- Script para controlar a exibicao do Numero do BO e o ano, dependendo da opcao selecionada -->
	<script th:src="@{assets/js/exibirNumeroAnoBo.js}"></script>
	<!-- Scrip para controlar a mudança de opção na Avaliação -->
	<script th:src="@{assets/js/setAvaliacao.js}"></script>
	<!-- DataTables  & Plugins -->
	<script th:src="@{plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{plugins/jszip/jszip.min.js}"></script>
	<script th:src="@{plugins/pdfmake/pdfmake.min.js}"></script>
	<script th:src="@{plugins/pdfmake/vfs_fonts.js}"></script>
	<script th:src="@{plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
	<script>
		$(function () {
			$("#example1").DataTable({
				"responsive": true, "lengthChange": false, "autoWidth": false
				// "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
			}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		});
	</script>
</body>

</html>